.formControl.error input,
.formControl.error textarea{
    border: solid red 1px;
}
.formControl.error span{
    color: red;
}

.be{
    font-weight: bold;
}
.FormSummuryError{
    border: 1px solid red;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    color: red;

}