.header1{
    grid-area: h; /* h- это псевдоним */
    background-color: green;
    border-radius: 20px;

}

.header1 img{

    width:  60px;
    height: 60px;
}
.text{

}
.auth {
    float: right;
    margin: 10px;
    font-family: "Californian FB";
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;

}
